<h1>Submitted successfully</h1>

<p>
  <em>Your application has been submitted and is being processed!</em>
</p>

<p>
  Do you have another child interested in joining us this summer?
  Submit another application <%= link_to "here", new_form_path %>.
</p>
